.Section

  &__header
    padding-top: 2rem

  &__title
    text-align: center
    margin-bottom: 1rem
    font-size: 2rem
    font-weight: 600

  &__subtitle
    font-weight: 100
    font-size: 1.5rem
    display: block
    text-align: center

  &__underline
    width: 200px
    height: 2px
    display: block
    margin: 1.5rem auto

  &__body
    padding: 2rem 0

.Section--dark
  background-color: #1a1a14

  .Section__title
    color: #e6e6e6

  .Section__underline
    background-color: #00aaed

  .Section__subtitle
    color: #e6e6e6

.Section--light
  background-color: #e6e6e6

  .Section__title
    color: #1a1a14

  .Section__underline
    background-color: #3bc7ff

  .Section__subtitle
    color: #1a1a14
  
