// The Grid
.grid

  +variant(fixed)
    max-width: 100%
    width: 1200px
    margin: 0 auto

  +variant(flex-cols)
    .grid__col
      display: flex

  +has(row)
    display: flex
    flex-wrap: wrap
    list-style: none
    padding: 0
    margin: 0
    width: 100%

    +variant(gutters)
      margin: -1rem 0 1rem 0

      .grid__row--gutters
        margin: -1rem 0 1rem 0

      .grid__col
        padding: 1rem 0 0

  +has(col)
    flex: 0 0 100%



// The column system


make-grid($breakpoints, $columns)