// The Grid
.grid
  overflow: hidden

  +variant(fixed)
    width: 100%
    max-width: 1200px
    margin: 0 auto

  +variant(flex-cols)
    .grid__col
      display: flex

  +has(row)
    box-sizing: border-box
    display: flex
    flex-wrap: wrap
    flex-direction: row
    list-style: none
    flex: 0 1 auto
    padding: 0
    margin: -1rem -.5rem 1rem -.5rem

    +variant(no-gutters)
      margin: 0

  +has(col)
    box-sizing: border-box
    flex: 0 0 100%
    padding: 1rem .5rem 0 .5rem

    +variant(no-gutters)
      padding: 0

// The column system
make-grid($breakpoints, $columns)