doctype html
head
    title Flexbox Grid (Stylus)
    meta(name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', type='text/css', href='dist/stylesheet.min.css')
html
    body
        include ./includes/invidual-sizing
        include ./includes/gridception
        include ./includes/flexible-columns
        include ./includes/responsive-content
        include ./includes/grid-align-top
        include ./includes/grid-align-center
        include ./includes/grid-align-bottom