.Section.Section--dark
    .Grid.Grid--fixed
        .Grid__col.Grid__col--md-12
            .Section__header
                .Section__title.
                    Bottom alignment
                .Section__underline
                .Section__subtitle.
                    It is possible to align the columns at the bottom
            .Section__body
                .Grid.Grid--fixed.Grid--gutters.Grid--bottom
                    .Grid__col.Grid__col--sm-4
                        .Block
                            .Block__content
                                p.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Ea eligendi illo impedit placeat provident quod ut.
                                    Atque distinctio illo quisquam.
                                    Ab cupiditate distinctio, doloremque itaque laudantium maiores
                                    quibusdam reiciendis veritatis.
                                p.
                                    A ad aliquid asperiores aut culpa dicta eaque expedita hic ipsa
                                    ipsam libero maiores minima nisi nobis perferendis quasi quis
                                    repudiandae, sint totam voluptatibus. Blanditiis iure natus perferendis
                                    voluptatem voluptatum?
                    .Grid__col.Grid__col--sm-3
                        .Block
                            .Block__content
                                p.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Ea eligendi illo impedit placeat provident quod ut.
                                    Atque distinctio illo quisquam.
                                    Ab cupiditate distinctio, doloremque itaque laudantium maiores
                                    quibusdam reiciendis veritatis.
                                p.
                                    A ad aliquid asperiores aut culpa dicta eaque expedita hic ipsa
                                    ipsam libero maiores minima nisi nobis perferendis quasi quis
                                    repudiandae, sint totam voluptatibus. Blanditiis iure natus perferendis
                                    voluptatem voluptatum?
                    .Grid__col.Grid__col--sm-5
                        .Block
                            .Block__content
                                p.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Ea eligendi illo impedit placeat provident quod ut.
                                    Atque distinctio illo quisquam.
                                    Ab cupiditate distinctio, doloremque itaque laudantium maiores
                                    quibusdam reiciendis veritatis.
                                p.
                                    A ad aliquid asperiores aut culpa dicta eaque expedita hic ipsa
                                    ipsam libero maiores minima nisi nobis perferendis quasi quis
                                    repudiandae, sint totam voluptatibus. Blanditiis iure natus perferendis
                                    voluptatem voluptatum?