section.Section.Section--light
    .Grid.Grid--fixed
        .Grid__col.Grid__col-md-12
            .Section__header
                h1.Section__title.
                    Grid in a grid
                span.Section__underline
                small.Section__subtitle.
                    Grid components are infinitely nestable inside of other grid components
    .Section__body
        .Grid.Grid--fixed.Grid--gutters
            .Grid__col.Grid__col--sm-10
                .Block.Block__content
                    .Grid.Grid--gutters
                        .Grid__col.Grid__col--sm-2
                            .Block
                                .Block__content.
                                    .Grid__col--sm-2
                        .Grid__col.Grid__col--sm-10
                            .Block
                                .Block__content
                                    .Grid.Grid--gutters
                                        .Grid__col.Grid__col--sm-2
                                            .Block
                                                .Block__content.
                                                    .Grid__col--sm-2
                                        .Grid__col.Grid__col--sm-10
                                            .Block
                                                .Block__content.
                                                    .Grid__col--sm-2
            .Grid__col.Grid__col--sm-2
                .Block
                    .Block__content.
                        .Grid__col--sm-2