section.Section.Section--dark
    .Grid.Grid--fixed
        .Grid__col.Grid__col-md-12
            .Section__header
                h1.Section__title.
                    Individual sizing
                span.Section__underline
                small.Section__subtitle.
                    It is possible to size the columns individually
    .Section__body
        .Grid.Grid--fixed.Grid--gutters
            .Grid__col.Grid__col--sm-12
                .Block
                    .Block__content.
                        .Grid__col--sm-12
        .Grid.Grid--fixed.Grid--gutters
            .Grid__col.Grid__col--sm-11
                .Block
                    .Block__content.
                        .Grid__col--sm-11
            .Grid__col.Grid__col--sm-1
                .Block
                    .Block__content.
                        .Grid__col--sm-1
        .Grid.Grid--fixed.Grid--gutters
            .Grid__col.Grid__col--sm-10
                .Block
                    .Block__content.
                        .Grid__col--sm-10
            .Grid__col.Grid__col--sm-2
                .Block
                    .Block__content.
                        .Grid__col--sm-2
        .Grid.Grid--fixed.Grid--gutters
            .Grid__col.Grid__col--sm-9
                .Block
                    .Block__content.
                        .Grid__col--sm-9
            .Grid__col.Grid__col--sm-3
                .Block
                    .Block__content.
                        .Grid__col--sm-3
        .Grid.Grid--fixed.Grid--gutters
            .Grid__col.Grid__col--sm-8
                .Block
                    .Block__content.
                        .Grid__col--sm-8
            .Grid__col.Grid__col--sm-4
                .Block
                    .Block__content.
                        .Grid__col--sm-4
        .Grid.Grid--fixed.Grid--gutters
            .Grid__col.Grid__col--sm-7
                .Block
                    .Block__content.
                        .Grid__col--sm-7
            .Grid__col.Grid__col--sm-5
                .Block
                    .Block__content.
                        .Grid__col--sm-5
        .Grid.Grid--fixed.Grid--gutters
            .Grid__col.Grid__col--sm-6
                .Block
                    .Block__content.
                        .Grid__col--sm-6
            .Grid__col.Grid__col--sm-6
                .Block
                    .Block__content.
                        .Grid__col--sm-6
        .Grid.Grid--fixed.Grid--gutters
            .Grid__col.Grid__col--sm-5
                .Block
                    .Block__content.
                        .Grid__col--sm-5
            .Grid__col.Grid__col--sm-7
                .Block
                    .Block__content.
                        .Grid__col--sm-7
        .Grid.Grid--fixed.Grid--gutters
            .Grid__col.Grid__col--sm-4
                .Block
                    .Block__content.
                        .Grid__col--sm-4
            .Grid__col.Grid__col--sm-8
                .Block
                    .Block__content.
                        .Grid__col--sm-8
        .Grid.Grid--fixed.Grid--gutters
            .Grid__col.Grid__col--sm-3
                .Block
                    .Block__content.
                        .Grid__col--sm-3
            .Grid__col.Grid__col--sm-9
                .Block
                    .Block__content.
                        .Grid__col--sm-9
        .Grid.Grid--fixed.Grid--gutters
            .Grid__col.Grid__col--sm-2
                .Block
                    .Block__content.
                        .Grid__col--sm-2
            .Grid__col.Grid__col--sm-10
                .Block
                    .Block__content.
                        .Grid__col--sm-10
        .Grid.Grid--fixed.Grid--gutters
            .Grid__col.Grid__col--sm-1
                .Block
                    .Block__content.
                        .Grid__col--sm-1
            .Grid__col.Grid__col--sm-11
                .Block
                    .Block__content.
                        .Grid__col--sm-11
        .Grid.Grid--fixed.Grid--gutters
            .Grid__col.Grid__col--sm-12
                .Block
                    .Block__content.
                        .Grid__col--sm-12