section.section.section--dark
    .grid.grid--fixed
        .grid__row
            .grid__col.grid__col-md-12
                .section__header.section--dark__header
                    h1.section__title.section--dark__title.
                        Reversing the columns
                    span.section__underline.section--dark__underline
                    small.section__subtitle.section--dark__subtitle.
                        It is possible to reverse the columns
    .section__body.section--dark__body
        .grid.grid--fixed
            .grid__row.grid__row--gutters.grid__row--sm-reverse
                .grid__col.grid__col--sm-2
                    .block.block--dark
                        .block__content.block--dark__content.
                            1
                .grid__col.grid__col--sm-2
                    .block.block--dark
                        .block__content.block--dark__content.
                            2
                .grid__col.grid__col--sm-2
                    .block.block--dark
                        .block__content.block--dark__content.
                            3
                .grid__col.grid__col--sm-2
                    .block.block--dark
                        .block__content.block--dark__content.
                            4
                .grid__col.grid__col--sm-2
                    .block.block--dark
                        .block__content.block--dark__content.
                            5
                .grid__col.grid__col--sm-2
                    .block.block--dark
                        .block__content.block--dark__content.
                            6
