.block
  overflow: hidden
  padding: 1rem
  width: 100%

  +has(content)
    word-wrap: break-word
    overflow: hidden
    line-height: 1.5rem
    font-weight: 300

  &:after
    display: block
    content: ""
    height: 0
    visibility: hidden

  +variant(dark)
    background-color: rgba(255, 255, 255, 0.2)

    +has(content)
      color: #e6e6e6

  +variant(light)
    background-color: rgba(0, 0, 0, 0.2)

    +has(content)
      color: #1a1a14